In [3]:
import pandas as pd
from time import sleep

In [4]:
# load Original Dataset
original_df = pd.read_csv("/mnt/10ac-batch-5/week9/reiten/unprocessed/unprocessed.csv")

In [5]:

def extract_sentence(df, col_name, id_len, char_limit):
        """
        Args:
            df:
            col_name:
            id_len:
            char_limit:
            
        Returns: None
        """
        id = 1
        st_df = pd.DataFrame(columns = ['Id', 'Text'])
        texts = []
        ids = []
            
        for i in range(len(df)):
            articles = df.loc[i,col_name].split("።")
            for text in articles:
                if(len(text) < char_limit):
                    texts.append(text)
                    ids.append("0"*(id_len-(len(str(id))))+str(id))
                    id = id+1

        st_df['Id'] = ids
        st_df['Text'] = texts

        return st_df

In [6]:
st_df = extract_sentence(original_df, "article", 6, 150)

In [7]:
st_df.head()

       Id                                               Text
0  000001  ብርሃን ፈይሳየኢትዮጵያ ቦክስ ፌዴሬሽን በየዓመቱ የሚያዘጋጀው የክለቦች ቻ...
1  000002   የተሻለ ብቃት ያሳዩ ቦክሰኞች ለቶኪዮ ኦሊምፒክ ማጣሪያ ተሳታፊ እንደሚሆ...
2  000003  በቦክስ ስፖርት ከሚካሄዱት ዓመታዊ ቻምፒዮናዎች መካከል አንዱ በክለቦች መ...
3  000004   የኢትዮጵያ ቦክስ ፌዴሬሽን ከአዲስ አበባ ቦክስ ፌዴሬሽን ጋር በመተባበር...
4  000005   በአጠቃላይ ክለቦቻቸውን ወክለውም 12 ሴትና 76 ወንድ ቦክሰኞች በጥቅሉ...

In [8]:
st_df.shape

(330497, 2)

In [9]:
st_df.to_csv("/mnt/10ac-batch-5/week9/reiten/unprocessed/semi_pro.csv")

In [15]:
# create data loader.
def check_id(id, pro_df):
    for i in range(len(pro_df)):
        if(id == pro_df.loc[i,"Id"]):
            return False

    return True

def produce_text(df, pro_df, producer, topic, num=1000000, freq = 0.5):
    
    counter = 0
    while (counter < len(df) and (counter < num)):
        id = df.loc[counter,"Id"]
        if (check_id(id, pro_df)):
           text = df.loc[counter,"Text"]
           data = [id, text]
           #producer.send(topic, data) 
           print(data)
        counter = counter + 1
        sleep(freq)

In [18]:
df1 = st_df.iloc[20:, :].reset_index()
#produce_text(st_df, df1, None, None, freq=0)

In [23]:
ite = {"Id": 1, "Text":"text"}
row = pd.Series(ite)
df = pd.DataFrame(columns=["Id", "Text"])
df.append(row, ignore_index=True)

/tmp/ipykernel_71912/3145764617.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(row, ignore_index=True)

  Id  Text
0  1  text